	  body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  background:#f5f5f5 !important;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


body {
  /*min-height: 2000px;*/
  padding-top: 50px;
}


.nav>li>a:focus,.nav>li>a:hover{
text-decoration:none;background-color:#337AB7
}



/* navbar */ 
.navbar-custom {
    background-color:#ededed;
    border-color: #ededed;
}
/* title */
.navbar-custom .navbar-brand {
    color: #cdddeb;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: #cdddeb;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #337AB7;
}
.navbar-custom .navbar-nav > .open > a, 
.navbar-custom .navbar-nav > .open > a:hover, 
.navbar-custom .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #337AB7;
}
/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #cdddeb;
    border-bottom-color: #cdddeb;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-custom .navbar-nav > .open > a .caret, 
.navbar-custom .navbar-nav > .open > a:hover .caret, 
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #337AB7;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #428BCA;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #337AB7;
}
@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #cdddeb;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #262626;
    }
}

.navbar-nav > li > a, .navbar-brand {
    height: 45px;
}
.navbar {min-height:45px !important;}



/*
 * Footer
 */

.blog-footer {
  padding: 20px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

