@charset "utf-8";
/* CSS Document */

body{background-color:#f7f7f7}

.navbar-inverse {
    background-color: #ededed;
    border-color: #ededed;
	height:76px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 6px;
	
}

    .nav > li > a:hover {
    position: relative;
    display: block; 
    padding: 10px 6px;
    background-color: #00f;
	
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #318dfd;
    background-color: transparent;
}

.navbar-nav{padding-top:10px; color:#89a3cc;}

.adminLogout{padding-left:11px;}

.panel-footer{background:white;}

.page-title {
  width: 100%;
  height: 65px;
  padding: 10px 0;
}

.page-title .title_left {
  width: 45%;
  float: left;
  display: block;
  margin-top :12px;
}

.page-title .title_left h3 {
  margin: 9px 0;
}
.page-title .title_right {
  width: 55%;
  float: left;
  display: block;
   margin-top :12px;
}

.page-title .title_right .pull-right {
  margin: 10px 0;
}

.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}

