<div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h4><a href= "index.html#/dashboard"> Product</a> --> {{title}}</h4>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
				<b>Mode : </b>							
                        
                        <input type = "text"  value = "{{mode}}">
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
					  <h5 class="x_title">Filter By : </h5>
                      Show <select
                        	 ng-init = "select = entries[0]"
                             ng-model="select" 
                             ng-options="entry.number for entry in entries">
                        </select> entries
                        <input type = "button" class = "btn btn-default pull-right" value="eCSV">
						<br /><br />
                      <div class="table-responsive">
						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                          
                            <tr ng-repeat ="counter2head in counter2Headers">
                                <th>{{counter2head.risk}}</th>
                                <th>{{counter2head.counter}}</th>
                                <th>{{counter2head.csaID}}</th>
                                <th>{{counter2head.trading}}</th>
                                <th>{{counter2head.currency}}</th>
                                <th>{{counter2head.delta}}</th>
                                <th>{{counter2head.vega}}</th>
                                <th>{{counter2head.curvature}}</th>
                                <th>{{counter2head.total}}</th>
                                <th>{{counter2head.trades}}</th>
                            </tr>
                          </thead>
                          
						
                          <tbody>
                          	<tr ng-repeat="product in data" >
                            	<td>{{product.RiskCategory}}</td>
                                <td>{{product.CounterParty}}</td>
                                <td>{{product.CSAID}}</td>
                                <td>{{product.TradingDesk}}</td>
                                <td>{{product.Currency}}</td>
                                <td>{{product.DeltaMargin}}</td>
                                <td>{{product.VegaMargin}}</td>
                                <td>{{product.CurvatureMargin}}</td>
                                <td>{{product.Total}}</td>
                                
                                <td ng-show = "product.RiskCategory == 'Commodity'"><a href="#" class="btn btn-success btn-xs">View</a></td>
                                <td ng-show = "product.RiskCategory == 'Credit'"><a href="#/creditTrade" class="btn btn-success btn-xs">View</a></td>
                                <td ng-show = "product.RiskCategory == 'Equity'"><a href="#/equityTrade" class="btn btn-success btn-xs">View</a></td>
                                 <td ng-show = "product.RiskCategory == 'Rates And FX'"><a href="#/counterpartyDupli" class="btn btn-success btn-xs">View</a></td>
                                 <td ng-show = "product.RiskCategory == 'Total:'"></td>
                                 
                            </tr>
                          </tbody>
                          
                        </table>
                          Showing 1 to {{prodLength - 1}} of {{prodLength - 1}} entries 
                        
						</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            

            </div>
            <!-- /page content -->