<div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h4><a href="index.html#/dashboard"> Product View</a> --> {{title}}</h4>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
				<b>Mode : </b>
							<!--<input type="radio" class="flat" name="mode" id="mode" value="production" checked required disabled/> Production
							<input type="radio" class="flat" name="mode" id="mode" value="simulation" disabled/> Simulation
-->                  <!-- <input type="text" class="form-control" placeholder="Search for...">
                 <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>-->
                        
                        <input type = "text"  value = "{{mode}}">
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
					  <h5 class="x_title">Filter By : </h5>
                      Show <select
                        	 ng-init = "select = entries[0]"
                             ng-model="select" 
                             ng-options="entry.number for entry in entries">
                        </select> entries
                        <input type = "button" class = "btn btn-default pull-right" value="eCSV">
						<br /><br />
                      <div class="table-responsive">
						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <!-- <tr>
                              <th>Risk Category</th>
							  <th>Counter Party</th>
							  <th>Portfolio</th>
                              <th>Currency</th>                              
                              <th>Delta Margin</th>
                              <th>Vega Margin</th>
                              <th>Curvature Margin</th>
                              <th>Total</th>
							  <th>Trades</th>
                            </tr> -->
                            <tr ng-repeat = "counterHead in counter1Header">
                                <th>{{counterHead.risk}}</th>
                                <th>{{counterHead.counter}}</th>
                                 <th>Portfolio</th>
                                 <th ng-hide = "counterHead.trading =='Trading Desk' ">{{counterHead.trading}}</th>
                                 <th>{{counterHead.currency}}</th>
                                 <th>{{counterHead.delta}}</th>
                                 <th>{{counterHead.vega}}</th>
                                 <th>{{counterHead.curvature}}</th>
                                 <th>{{counterHead.total}}</th>
                                 <th>{{counterHead.trades}}</th>
                            </tr>
                          </thead>
						
                          <tbody>
                          	<tr ng-repeat="product in data" >
                            	<td>{{product.RiskCategory}}</td>
                                <td>{{product.CounterParty}}</td>
                                <td>{{product.Portfolio}}</td>
                                <td>{{product.Currency}}</td>
                               
                                <td>{{product.DeltaMargin}}</td>
                                <td>{{product.VegaMargin}}</td>
                                <td>{{product.CurvatureMargin}}</td>
                                <td>{{product.Total}}</td>
                                
                                <td ng-show = "product.RiskCategory != 'Total:'"><a href="#/commodity" class="btn btn-success btn-xs">View</a></td>
                                
                                 <td ng-show = "product.RiskCategory == 'Total:'"></td>
                                 
                            </tr>

                          </tbody>
                          
                        </table>
                        Showing 1 to {{prodLength - 1}} of {{prodLength - 1}} entries 
                        
						</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            

            </div>
            <!-- /page content -->