<div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h4><a  href="index.html#/dashboard"> Product</a> --> <a href = "index.html#/counterparty2"> Risk Category </a> --> {{title}}</h4>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
				<b>Mode : </b>
							<!--<input type="radio" class="flat" name="mode" id="mode" value="production" checked required disabled/> Production
							<input type="radio" class="flat" name="mode" id="mode" value="simulation" disabled/> Simulation
-->                  <!-- <input type="text" class="form-control" placeholder="Search for...">
                 <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>-->
                        
                        <input type = "text"  value = "{{mode}}">
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
					  <h5 class="x_title">Filter By : </h5>
                      Show <select
                        	 ng-init = "select = entries[0]"
                             ng-model="select" 
                             ng-options="entry.number for entry in entries">
                        </select> entries
                        <input type = "button" class = "btn btn-default pull-right" value="eCSV">
						<br /><br />
                      <div class="table-responsive">
						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                            	<th>Risk Category</th>
                               <th>Counter Party</th>
							  
							  <th>CSA ID</th>
                              <th>Trading Desk</th>  
                              <th>Poortfolio</th>                              
                              <th>Currency</th>
                              
                              <th>Delta Margin</th>
							  <th>Vega Margin</th>
                             
                              <th>Curvature Margin</th>
                              <th>Total</th>
                              <th>Trades</th>      
                            </tr>
                          </thead>
                          
                          
                          
                          <tbody>
                          	<tr ng-repeat="counterDuplie in data" >
                            	<td>{{counterDuplie.RiskCategory}}</td>
                                <td>{{counterDuplie.CounterParty}}</td>
                                <td>{{counterDuplie.CSAID}}</td>
                                <td>{{counterDuplie.TradingDesk}}</td>
                                <td>{{counterDuplie.Portfolio}}</td>
                                <td>{{counterDuplie.Currency}}</td>
                                <td>{{counterDuplie.DeltaMargin}}</td>
                                <td>{{counterDuplie.VegaMargin}}</td>
                                <td>{{counterDuplie.CurvatureMargin}}</td>
                                <td>{{counterDuplie.Total}}</td>
                                <td ng-show = "counterDuplie.RiskCategory == 'Commodity'"><a href="#/interest_trade" class="btn btn-success btn-xs">View</a>
                                <td ng-show = "counterDuplie.RiskCategory == 'Credit'"><a href="#/creditTrade" class="btn btn-success btn-xs">View</a></td>
                                <td ng-show = "counterDuplie.RiskCategory == 'Equity'"><a href="#/equityTrade" class="btn btn-success btn-xs">View</a></td>
                                <td ng-show = "counterDuplie.RiskCategory == 'Rates And FX'"><a href="#/counterpartyDupli" class="btn btn-success btn-xs">View</a></td>
                                <td ng-show = "counterDuplie.RiskCategory == 'Total:'"></td>
                                
                            </tr>
                          </tbody>
                          
                        </table>
                        Showing 1 to {{prodLength - 1}} of {{prodLength - 1}} entries
                        
						</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              

            </div>
            <!-- /page content -->