<div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h4>{{title}}</h4>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
				<b>Mode : </b>
							<input type = "text"  value = "{{mode}}">
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
					  Show <select
                        	 ng-init = "select = entries[0]"
                             ng-model="select" 
                             ng-options="entry.number for entry in entries">
                        </select> entries
						<input type = "button" class = "btn btn-default pull-right" value="eCSV">
						<br /><br />
                      <div class="table-responsive">
						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr ng-repeat = "riskHead in customeHeaders">
                            
                                <th>{{riskHead.counter}}</th>
                                <th>{{riskHead.risk}}</th>
                                <th>{{riskHead.cur}}</th>
                                <th>{{riskHead.delta}}</th>
                                <th>{{riskHead.Vega}}</th>
                                <th>{{riskHead.curvarture}}</th>
                                <th>{{riskHead.total}}</th>
                            </tr>
                          </thead>
						<!--  <tfoot>
							<tr>
								<th>Total:</th>
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th align="right"></th>
								<th align="right"></th>
								<th align="right"></th>	
								<th></th>	
							</tr>
						</tfoot>
                          <tbody>
							<tr> 
							  <td>Commodity</td>
                              <td>City Group1</td>
							  <td>4567</td>
                              <td>USD</td>
                              <td align="right">1,125,118.55</td>
                              <td align="right">1,248,366.73</td>
                              <td align="right">1,073,751.64</td>
                              <td align="right">3,447,236.92</td>
							  <td align="center"><a href="commodity_trade.php" class="btn btn-success btn-xs">View</a></td>
                            </tr>
							 <tr>
							  <td>Credit</td>
                              <td>JP Morgan</td>   
							  <td>3456</td>
                              <td>EUR</td>
                              <td align="right">685,862.81</td>
                              <td align="right">-685,459.48</td>
                              <td align="right">512,505.69</td>
                              <td align="right">512,909.02</td>
							  <td align="center"><a href="credit_trade.php" class="btn btn-success btn-xs">View</a></td>
                            </tr>
							<tr>
							  <td>Equity</td>
                              <td>JP Morgan</td> 
							  <td>2345</td>
                              <td>USD</td>							  
                              <td align="right">984,007.93</td>
                              <td align="right">982,784.74</td>
                              <td align="right">808,002.27</td>
                              <td align="right">2,774,794.94</td>
							   <td align="center"><a href="equity_trade.php" class="btn btn-success btn-xs">View</a></td>
                            </tr>
                            <tr>
							  <td>Rates And FX</td>
                              <td>JP Morgan</td> 
							  <td>1234</td>
                              <td>EUR</td>
                              <td align="right">500,253.11</td>
                              <td align="right">500,167.97</td>
                              <td align="right">323,253.64</td>
                              <td align="right">1,323,674.72</td>
							  <td align="center"><a href="interest_trade.php" class="btn btn-success btn-xs">View</a></td>
                            </tr>
						  </tbody>  -->
                            <tbody>
                                <tr ng-repeat = "custCat in customeCategories">
                                    <td>{{custCat.CounterParty}}</td>
                                    <td>{{custCat.RiskCategory}}</td>
                                    <td>{{custCat.Currency}}</td>
                                    <td>{{custCat.DeltaMargin}}</td>
                                    <td>{{custCat.VegaMargin}}</td>
                                    <td>{{custCat.CurvatureMargin}}</td>
                                    <td>{{custCat.Total}}</td>
                                </tr>
                            </tbody>
                        </table>
                          Showing 1 to {{arrLength}} of {{arrLength }} entries 
						</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
             

            </div>