<div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left" >
              <h4> {{title}}</h4>
            
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
				<b>Mode : </b>
					<input type = "text"  value = "{{mode}}" >
                 
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row" >

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                     <!-- <div class="x_title">
                       <ul class="nav navbar-right panel_toolbox">
						
                        </ul>
                        <div class="clearfix"></div>
                      </div>-->
                      <div class="x_content">
                      
						Show <select
                        	 ng-init = "select = entries[0]"
                             ng-model="select" 
                             ng-options="entry.number for entry in entries">
                        </select> entries
						<input type = "button" class = "btn btn-default pull-right" value="eCSV">
						<br /><br />
                       <!--   <table>
                              <tr ng-repeat="x in data">
                                  <td ng-repeat="y in x track by $index" >{{ y }}</td>
                              </tr> -->
                          </table> 
					   <div class="table-responsive" > 
                        <table  id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap " cellspacing="0" width="100%">
                          <thead>
                         
                              
                            <tr ng-repeat = "header in headers">
                                <th>{{header.party}}</th>
                                <th>{{header.rates}}</th>
                                <th>{{header.credit}}</th>
                                <th>{{header.equity}}</th>
                                <th>{{header.commodity}}</th>
                                <th>{{header.total}}</th>
                                <th>{{header.cpty}}</th>
                            </tr>
                           
                          </thead>
                          <tbody>
						  <!--	<tr ng-repeat = "company in products | orderBy:'CompanyParty'" ng-init = "index = $index"> -->
                            	<tr ng-repeat = "company in data| orderBy:'CompanyParty'" ng-init = "index = $index"> 
                            	<td >{{company.CompanyParty}}</td>
                                <td align="right">{{company.SIMMRates}}</td>
                                <td align="right">{{company.SIMMCredit}}</td>
                                <td align="right">{{company.SIMMEquity}}</td>
                                <td align="right">{{company.SIMMCommodity}}</td>
                                <td align="right">{{company.TotalSIMM}}</td>
                                <td ng-hide="company.CompanyParty == 'Total' " align="center"><a href="#/counterparty{{index+1}}" class="btn btn-success btn-xs">View</a></td>
                                <td ng-show="company.CompanyParty == 'Total' " align="left">{{company.a}}</td>
                            </tr>
                              
                            
                            
                        
                          </tbody>
                           
                        </table>
                        Showing 1 to {{arrLength - 1}} of {{arrLength - 1}} entries 
					</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
 </div>


              
             