<div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h4> {{title}}</h4>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
				<b>Mode : </b>
							<!--<input type="radio" class="flat" name="mode" id="mode" value="production" checked required disabled/> Production
							<input type="radio" class="flat" name="mode" id="mode" value="simulation" disabled/> Simulation
-->                  <!-- <input type="text" class="form-control" placeholder="Search for...">
                 <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>-->
                        
                        <input type = "text"  value = "{{mode}}">
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
					  <h5 class="x_title">Filter By : </h5>
                      Show <select
                        	 ng-init = "select = entries[0]"
                             ng-model="select" 
                             ng-options="entry.number for entry in entries">
                        </select> entries
                        <input type = "button" class = "btn btn-default pull-right" value="eCSV">
						<br /><br />
                      <div class="table-responsive">
						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                               <th>Counter Party</th>
							  
							  <th>Portfolio</th>
                              <th>Trade Name</th>  
                              <th>Deal ID</th>                              
                              <th>ProductType</th>
                              <th>SubProduct</th>
                              <th>RiskFactorType</th>
                              <th>Delta Margin</th>
							  <th>Vega Margin</th>
                             
                              <th>Curvature Margin</th>
                              <th>Trade Date</th>      
                            </tr>
                          </thead>
                          
                          <tbody>
                          	<tr ng-repeat="creditTrade in data" >
                            	<td>{{creditTrade.CounterParty}}</td>
                                <td>{{creditTrade.Poortfolio}}</td>
                                <td>{{creditTrade.TradeName}}</td>
                                <td>{{creditTrade.DealID}}</td>
                                <td>{{creditTrade.ProductType}}</td>
                                <td>{{creditTrade.SubProduct}}</td>
                                <td>{{creditTrade.RiskFactorType}}</td>
                                <td>{{creditTrade.DeltaMargin}}</td>
                                <td>{{creditTrade.VegaMargin}}</td>
                                <td>{{creditTrade.CurvatureMargin}}</td>
                                <td>{{creditTrade.TradeDate}}</td>
                                
                                
                                 
                            </tr>
                          </tbody>
                          
                        </table>
                        Showing 1 to {{prodLength - 1}} of {{prodLength - 1}} entries
                        
						</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
             

            </div>
            <!-- /page content -->