<div class="right_col" role="main">
        <div class="">
          <div class="page-title ">
            <div class="title_left" >
              <h4>{{title}}</h4>
              
            </div>
		<!--	<input type = "text" id = "txtPer"  readonly /> -->

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
				<b>Mode : </b>
					<input type = "text"  value = "{{mode}}">
                 
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <!--<div class="x_title">
                       
                       <ul class="nav navbar-right panel_toolbox">
						<b>Mode : </b>
							<input type="radio" class="flat" name="mode" id="mode" value="production" checked required disabled/> Production
							<input type="radio" class="flat" name="mode" id="mode" value="simulation" disabled/> Simulation
                        </ul>
                        <div class="clearfix"></div>
                      </div>-->
					 
                      <div class="x_content">
						 <div class="col-md-12 col-sm-12 col-xs-12">
						  <div class="" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
							  <li role="presentation" class="active"><a href="index.html#/personalWorkSpace/#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Preferences</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/personalWorkSpace/#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Portfolios & Counterparties</a>
							  </li>
							
							</ul>
							<div id="myTabContent" class="tab-content">
							  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                              <div class="row">
                              <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
								  <div class="col-md-5 col-sm-6 col-xs-12">
									  <label class="control-label">Starting page</label>
										<select name="SIMM_Dashboard" id="SIMM_Dashboard" class="form-control"  
                                                ng-init = "start = startingPages[0]"
                                                ng-model = "start"
                                                ng-options = "startingPage.name for startingPage in startingPages">
											
											 
										</select>
                                        <label class="control-label">Custom View Name</label>
										<select name="SIMM_Dashboard1" id="SIMM_Dashboard1" class="form-control"
                                                ng-init = "customer = customeViewName[0]"
                                                ng-model="customer"
                                                ng-options = "customer.name for customer in customeViewName">
											
											 
										</select>
                                        <label class="control-label"> Confirm Send to Blazer</label>
                                        <input type="checkbox" value="Confirm"/><label class="control-label"> Confirm</label>
                                       

										</div>
                                        </div>
                                        </div>
                                        </div>
								
							  </div>
							  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
								<div class="row">

                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
				 		 
                        <input type="submit" name=""   value="Cancel" class="btn "/>
                         <input type="submit" name=""  value="Save Configuration" class="btn pull-right"/>
                      <div class="table-responsive">
						<table id="datatableidforbutton1" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                            <th> Counter Party	</th>
                            <th>Portfolio</th>
                           
                             </tr>
                          </thead>
                           <tbody>
                               <tr ng-repeat = "portfolio in portfolios">
                                   <td>{{portfolio.CounterParty}}</td>
                                   <td>{{portfolio.Portfolio}}</td>
                               </tr>
                              
       					   </tbody>
                        </table>
						</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
				 		<h4 class="x_title">SIMM Breaches Rules</h4>
                         
                         <label class="control-label ">Default Breach Amount</label>
                         
                     
                       <select name="Amount" id="Amount" class="form-control"
                        ng-init ="amount = branchAmounts[0]"
                        ng-model="amount"
                        ng-options = "branchAmount.amount for branchAmount in branchAmounts"   >     
                       
						

						</select>
                       
                          <div style="margin-top:5px"></div>
                      <div class="table-responsive">
						<table id="datatableidforbutton" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                            <th>CounterParty</th>
                            <th>Portfolio</th>
                            <th> SIMM Threshold</th>
                             </tr>
                          </thead>
                           <tbody>
                                <tr ng-repeat = "branchRule in branchRules">
                                    <td>{{branchRule.CounterParty}}</td>
                                    <td>{{branchRule.Portfolio}}</td>
                                    <td>{{branchRule.SIMMThreshold| currency}}</td>
                                        
                               </tr>
       					   </tbody>
                        </table>
						</div>
                      </div>
                    </div>
                  </div>
                </div>
							  </div>
							 <!-- <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
								 <form action="" enctype="multipart/form-data">
									<input type="file" name="file" value="Upload Market Data" class="pull-right btn btn-success" />
								  </form>
							  </div>
							  <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
								
							  </div>-->
							</div>
						  </div>

						</div>
					  </div>
					</div>
                  </div>
                </div>
              </div>
              
             

            </div>