 
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h4> {{title}}</h4>
            </div>
			
            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
				<b>Mode : </b>
							<input type = "text"  value = "{{mode}}" >
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_content">
						 <div class="col-md-12 col-sm-12 col-xs-12">
						  <div class="" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
							  <li role="presentation" class="active"><a href="index.html#/reference_data_view/#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Curves</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/reference_data_view/#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Prices</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/reference_data_view/#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Calenders</a>
							  </li>
                              <li role="presentation" class=""><a href="index.html/reference_data_view/#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">SIMM Calculator</a>
							  </li>
							</ul>
							<div id="myTabContent" class="tab-content">
                            
							  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
				               <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
					  <h5 class="x_title">Filter By : </h5>
                       <div class="col-md-6 col-sm-6 col-xs-6">
                      <div id="samplediv" style="display:flex;margin-bottom:10px;"></div>
                      
                      <div class="table-responsive">
						<table id="datatable1" class="table table-striped table-bordered dt-responsive nowrap " cellspacing="0" width="100%"  >
                          <thead>
                            <tr ng-repeat = "curveTitle in curveTitles">
                            <!--  <th>Curve Name</th>
							  <th>Curve Type</th>
							  <th>Curve</th>
                              <th>Tenor</th>
                              <th>Discount Factor</th>  -->
                                <th>{{curveTitle.curveName}}</th>
                                <th>{{curveTitle.curveType}}</th>
                                <th>{{curveTitle.curve}}</th>
                                <th>{{curveTitle.tenor}}</th>
                                <th>{{curveTitle.discountFactor}}</th>
                               	
                            </tr>
                          </thead>
                          
                            <tbody>
                                <tr ng-repeat = "curveTableDat in curveTableData">
                                    <td>{{curveTableDat.curveName}}</td>
                                    <td>{{curveTableDat.curveType}}</td>
                                    <td>{{curveTableDat.curve}}</td>
                                    <td>{{curveTableDat.tenor}}</td>
                                    <td>{{curveTableDat.discountFactor}}</td>
                                </tr>
                            </tbody>
                        </table>
                           Showing 1 to {{statusLength}} of {{statusLength}} entries 
						</div>
                        </div>
                
                      </div>
                    </div>
                  </div>
                </div>
							  </div>
							  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                              
								<div class="row">
                               
								
                  <div class="col-md-12 col-sm-12 col-xs-12">
                   
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
                       <form name="" method="" action="">
									  
									  <div class="col-md-3 col-sm-3 col-xs-12">
									  <label class="control-label">Instrument Name:</label>
										<select name=" " id=" " class="form-control">
											 
											<option value=" LIBOR 3M" selected> LIBOR 3M</option>
										</select>
										</div>										
									  <div class="col-md-3 col-sm-3 col-xs-12 ">
                                      <label class="control-label">Date:</label>
										<div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            
            </div>
										</div>	
                                          <div class="col-md-3 col-sm-3 col-xs-12 ">
										<input type="submit" name="" style="margin-top: 24px;" value="View" class="btn btn-success"/>
										</div>									
									 </form>
                       
                   
					  <h5 class="x_title">Filter By : </h5>
                      <div id="samplediv" style="display:flex;margin-bottom:10px;"></div>
                      <div class="">
						<table id="datatable12" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr ng-repeat = "priceHeader in priceHeaders">
                          
                                <th>{{priceHeader.date}}</th>
                                <th>{{priceHeader.security}}</th>
                                <th>{{priceHeader.price}}</th>
                               	
                            </tr>
                          </thead>
                        
                            <tbody>
                                <tr ng-repeat = "priceContent in priceContents">
                                    <td>{{priceContent.date}}</td>
                                    <td>{{priceContent.security}}</td>
                                    <td>{{priceContent.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                           Showing 1 to {{priceLength}} of {{priceLength}} entries
						</div>
                      </div>
                    </div>
                  </div>
                </div>	
							  </div>
							  <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
								<div class="col-md-12 col-sm-12 col-xs-12">
								  <form name="" method="" action="">
									  
									  <div class="col-md-5 col-sm-6 col-xs-12">
									  <label class="control-label">Country</label>
								
                                          <select class="form-control"
                                          ng-init="country = calenderCountry[1]"
                                           ng-model="country"
                                          ng-options = "calenderCoun.name for calenderCoun in calenderCountry">
                                          </select>
										</div>										
									  <div class="col-md-3 col-sm-3 col-xs-12 ">
										<input type="submit" name="" style="margin-top: 24px;" value="View" class="btn btn-success"/>
										</div>										
									 </form>
								</div>
									<div class="clearfix"></div>
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="col-md-3 col-sm-3 col-xs-12">
									<h5 class="x_title"><b>Calender</b></h5>
										<div id="calender"></div>
									</div>
									<div class="col-md-9 col-sm-9 col-xs-12">
									<h5 class="x_title"><b>List of holidays</b></h5>
									<table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr ng-repeat = "holidayHead in holidaysHeading">
											
                                                <th>{{holidayHead.holidayDate}}</th>
                                                <th>{{holidayHead.description}}</th>
											</tr>
										</thead>
										
                                        <tbody>
                                            <tr ng-repeat = "holidayList in holidayLists">
                                                <td>{{holidayList.holidayDate}}</td>
                                                 <td>{{holidayList.description}}</td>
                                            </tr>
                                        </tbody>
									</table>
									</div>
								</div>
							  </div>
								<div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
								<div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_content">
						 <div class="col-md-12 col-sm-12 col-xs-12">
						  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab1" class="nav nav-tabs bar_tabs" role="tablist">
							  <li role="presentation" class="active"><a href="index.html/reference_data_view/tab_content4/#tab_content_sub" id="home_tab_sub" role="tab" data-toggle="tab" aria-expanded="true">General</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html/reference_data_view/tab_content4/#tab_content_sub1" role="tab" id="home_tab_sub1" data-toggle="tab" aria-expanded="false">GIRR</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html/reference_data_view/tab_content4/#tab_content_sub2" role="tab" id="home_tab_sub2" data-toggle="tab" aria-expanded="false">Credit Qualifying</a>
							  </li>
                              <li role="presentation" class=""><a href="index.html/reference_data_view/tab_content4/#tab_content_sub3" role="tab" id="home_tab_sub3" data-toggle="tab" aria-expanded="false">Credit Non-Qualifying</a>
							  </li>
                              <li role="presentation" class=""><a href="index.html/reference_data_view/tab_content4/#tab_content_sub4" role="tab" id="home_tab_sub4" data-toggle="tab" aria-expanded="false">Commodity</a>
							  </li>
                              <li role="presentation" class=""><a href="index.html/reference_data_view/tab_content4/#tab_content_sub5" role="tab" id="home_tab_sub5" data-toggle="tab" aria-expanded="false">Equity</a>
							  </li>
                              <li role="presentation" class=""><a href="index.html/reference_data_view/tab_content4/#tab_content_sub6" role="tab" id="home_tab_sub6" data-toggle="tab" aria-expanded="false">FX</a>
							  </li>
							</ul>
                            <div id="myTabContent1" class="tab-content">
								   <div role="tabpanel" class="tab-pane fade active in" id="tab_content_sub" aria-labelledby="home_tab_sub">
				               <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                       <div class="x_content">
                      <div class="table-responsive">
                        <div  class="x_title" style="display:flex;">
                      <h4>VEGA Risk Concentrations</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div> 
                      <table  id="datatable21" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
						<tr>
                        <th>VEGA Risk Type</th>
                        <th> Concentration Threshold(USD/bp)</th>
                        </tr>
                        </thead>
                        <tr>
                        <td>All Buckets</td>
                        <td>TBD</td>
                        </tr>
                       
                        </table>
                         </div>
                        <div> 
                         <div  class="x_title" style="display:flex;">
                      <h4>Correlations between Risk Classes within Product Classes</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div> 
                    
						<table id="datatable3" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr ng-repeat = "generalTableHeader in generalTableHeaders">
                            
                                <th>{{generalTableHeader.riskClass}}</th>
                                 <th>{{generalTableHeader.girr}}</th>
                                 <th>{{generalTableHeader.credit}}</th>
                                 <th>{{generalTableHeader.nonCredit}}</th>
                                 <th>{{generalTableHeader.equity}}</th>
                                 <th>{{generalTableHeader.commodity}}</th>
                                 <th>{{generalTableHeader.fx}}</th>
                               	
                            </tr>
                          </thead>
                     
                            <tbody>
                                <tr ng-repeat = "generalTableContent in generalTableContents">
                                    <td>{{generalTableContent.riskClass}}</td>
                                    <td>{{generalTableContent.girr}}</td>
                                    <td>{{generalTableContent.credit}}</td>
                                    <td>{{generalTableContent.nonCredit}}</td>
                                    <td>{{generalTableContent.equity}}</td>
                                    <td>{{generalTableContent.commodity}}</td>
                                    <td>{{generalTableContent.fx}}</td>
                                </tr>
                            </tbody>
                        </table>
                         Showing 1 to {{generalLength}} of {{generalLength}} entries
						</div>
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content_sub1" aria-labelledby="home_tab_sub1">
                                 <div class="table-responsive">
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                 <div  class="x_title" style="display:flex;">
                         <h4 class="">GIRR Concentrations</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>
									<table id="datatables1" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											<tr>
                                              <th>Currency Group</th>
                                             <th> Concentration Threshold(USD/bp)</th>	
											</tr>
										</thead>
										
                                        <tbody>
                                            <tr ng-repeat = "girrTbl in girrTbl1">
                                                <td>{{girrTbl.currencyGrp}}</td>
                                                <td>{{girrTbl.concentration}}</td>
                                            </tr>
                                        </tbody>
									</table>
                                       Showing 1 to {{girrlLength}} of {{girrlLength}} entries
                                    </div>
                                     <div class="col-md-6 col-sm-6 col-xs-12">
                                   <label>GIRR Inflation Risk Weight (All Currencies)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;                                
                                    <input type="text" value="32 bps">
                                    </div>
                                     <div class="col-md-6 col-sm-6 col-xs-12">
                                   <label>GIRR VEGA Risk Weight (All Currencies)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;  
                                   <input type="text" value="0.21">
                                    </div>
                                         <div class="col-md-6 col-sm-6 col-xs-12">
                                   <label>Inflation Rate-Yeild Correlation for same Currency</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                   <input type="text" value="0.33">
                                    </div>
                                         <div class="col-md-6 col-sm-6 col-xs-12">
                                   <label>Correlation between sub-curves for same Currency</label>
                                   &nbsp;&nbsp;&nbsp;&nbsp;   
                                   <input type="text" value="0.982">
                                    </div>
                                         <div class="col-md-6 col-sm-6 col-xs-12">
                                   <label>Different Currencies Aggregation Parameter</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                   <input type="text" value="0.27">
                                    </div>
                                       
								</div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
									<div  class="x_title" style="display:flex;">
                      <h4 class="">GIRR Curency Volatilities</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>
								
									<table id="datatable3s1" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr >
                                              <th>Currency</th>
                                            <th>Volatility Type</th>
											</tr>
										</thead>
										
                                        <tbody>
                                            <tr ng-repeat = "girrTbl in girrTbl2">
                                                <td>{{girrTbl.currency}}</td>
                                                <td>{{girrTbl.volatility}}</td>
                                                
                                            </tr>
                                        </tbody>
									</table>
                                     Showing 1 to {{girr2lLength}} of {{girr2lLength}} entries
								</div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
								<div  class="x_title" style="display:flex;">
                   <h4 class="">GIRR Buckets & Risk Weights</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>							
									<table id="datatable2s1" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											<tr>
											 <th>Bucket #</th>
                                                <th>1</th>
                                                <th>2</th>
                                                <th>3</th>
                                                <th>4</th>
                                                <th>5</th>
                                                <th>6</th>
                                                <th>7</th>
                                                <th>8</th>
                                                <th>9</th>
                                                <th>10</th>
                                                <th>11</th>
                                                <th>12</th>
											</tr>
										</thead>
										
                                        <tbody>
                                            <tr ng-repeat = "girrTbl in girrTbl3">
                                                <td>{{girrTbl.bucket}}</td>
                                                <td>{{girrTbl.one}}</td>
                                                <td>{{girrTbl.two}}</td>
                                                <td>{{girrTbl.three}}</td>
                                                <td>{{girrTbl.four}}</td>
                                                <td>{{girrTbl.five}}</td>
                                                <td>{{girrTbl.six}}</td>
                                                <td>{{girrTbl.seven}}</td>
                                                <td>{{girrTbl.eight}}</td>
                                                <td>{{girrTbl.nine}}</td>
                                                <td>{{girrTbl.ten}}</td>
                                                <td>{{girrTbl.eleven}}</td>
                                                <td>{{girrTbl.twele}}</td>
                                            </tr>
                                        </tbody>
										</table>
                                     Showing 1 to {{girr3lLength}} of {{girr3lLength}} entries
							
								</div>
                                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                               <div  class="x_title" style="display:flex;">
                   <h4 class="">GIRR Risk Exposure Correlations</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>						
								<table id="tabidforbtn" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr>
											 <th></th>
                                                <th>l=1 (3m)</th>
                                                <th>l=2 (6m)</th>
                                                <th>l=3 (1yr)</th>
                                                <th>l=4 (2yr)</th>
                                                <th>l=5 (3yr)</th>
                                                <th>l=6 (5yr)</th>
                                                <th>l=7 (10yr)</th>
                                                <th>l=8 (15yr)</th>
                                                <th>l=9 (20yr)</th>
                                                <th>l=10 (30yr)</th>
 											</tr>
										</thead>
									
                                    <tbody>
                                        <tr ng-repeat = "girrTbl in girrTbl4">
                                            <td>{{girrTbl.data}}</td>
                                            <td>{{girrTbl.tm}}</td>
                                            <td>{{girrTbl.sm}}</td>
                                            <td>{{girrTbl.oy}}</td>
                                            <td>{{girrTbl.ty}}</td>
                                            <td>{{girrTbl.thy}}</td>
                                            <td>{{girrTbl.fy}}</td>
                                            <td>{{girrTbl.teny}}</td>
                                            <td>{{girrTbl.fify}}</td>
                                            <td>{{girrTbl.twey}}</td>
                                            <td>{{girrTbl.thiry}}</td>
                                        </tr>
                                    </tbody>
									</table>
                                     Showing 1 to {{girr4lLength}} of {{girr4lLength}} entries
								</div>
                                	 
							  </div>
                               <div role="tabpanel" class="tab-pane fade" id="tab_content_sub2" aria-labelledby="home_tab_sub2">
								<div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                                <div  class="x_title" style="display:flex;">
                   <h4 class="">Sector Buckets</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>		
                                
								<table id="datatable1s1m" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr>
											  <th>Bucket number</th>
											  <th>Credit Quality</th>
											  <th>Sector</th>
											  <th>Risk Weight</th>
											  
											</tr>
										</thead>
										
                                        <tbody>
                                            <tr ng-repeat = "creditTbl in creditTbl1">
                                                <td>{{creditTbl.bucketNo}}</td>
                                                <td>{{creditTbl.crQuality}}</td>
                                                <td>{{creditTbl.sector}}</td>
                                                <td>{{creditTbl.riskWeight}}</td>
                                            </tr>
                                        </tbody>
									</table>
                                     Showing 1 to {{creditTbl1Length}} of {{creditTbl1Length}} entries
								</div>
                               <div class="col-md-6 col-sm-6 col-xs-12">
                                <h4 class="x_title">Correlation parameters for same bucket</h4>
								
								<table id="datatable1s1a" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr>
											  <th> </th>
                                              <th> Bucket #</th>
											  <th> Risk Weight</th>
 											</tr>
										</thead>
										
                                        <tbody>
                                            <tr ng-repeat = "creditTbl in creditTbl2">
                                                <td>{{creditTbl.data}}</td>
                                                <td>{{creditTbl.bucket}}</td>
                                                <td>{{creditTbl.riskWeight}}</td>
                                            </tr>
                                        </tbody>
									</table>
                                    Showing 1 to {{creditTbl2Length}} of {{creditTbl2Length}} entries
								</div>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                  <div style="margin-top:45px;margin-left:45px"></div>
                                   <label>VEGA Risk weight for CREDIT</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                   <input type="text" value="0.35">
                                    </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                                 <div  class="x_title" style="display:flex;">
                   <h4 class="">Correlation parameters across different non-residual buckets</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>		
                                
								
								<table id="datatable1s1b" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr>
											  <th>Bucket (b)</th>
											  <th>c=1</th>
											 <th>c=2</th>
                                             <th>c=3</th>
                                             <th>c=4</th>
                                             <th>c=5</th>
                                             <th>c=6</th>
                                             <th>c=7</th>
                                             <th>c=8</th>
                                             <th>c=9</th>
                                             <th>c=10</th>
                                             <th>c=11</th>
                                             <th>c=12</th>
											</tr>
										</thead>
								
                                    <tbody>
                                        <tr ng-repeat = "creditTbl in creditTbl4">
                                            <td>{{creditTbl.bucket}}</td>
                                             <td>{{creditTbl.c1}}</td>
                                             <td>{{creditTbl.c2}}</td>
                                             <td>{{creditTbl.c3}}</td>
                                             <td>{{creditTbl.c4}}</td>
                                             <td>{{creditTbl.c5}}</td>
                                             <td>{{creditTbl.c6}}</td>
                                             <td>{{creditTbl.c7}}</td>
                                             <td>{{creditTbl.c8}}</td>
                                             <td>{{creditTbl.c9}}</td>
                                             <td>{{creditTbl.c10}}</td>
                                             <td>{{creditTbl.c11}}</td>
                                             <td>{{creditTbl.c12}}</td>
                                        </tr>
                                    </tbody>
									</table>
                                    Showing 1 to {{creditTbl4Length}} of {{creditTbl4Length}} entries
								</div>
                                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                                <div  class="x_title" style="display:flex;">
                   <h4 class="">Credit Spread Concentrations</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>		
                              
								
								<table id="datatable1s1c" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr>
											  <th>Credit Risk Type</th>
											  <th> Concentration Threshold(USD/bp)</th>
 											</tr>
										</thead>
										
                                        <tbody>
                                            <tr ng-repeat = "creditTbl in creditTbl3">
                                                <td>{{creditTbl.crRisk}}</td>
                                                <td>{{creditTbl.concentration}}</td>
                                            </tr>
                                        </tbody>
									</table>
                                     Showing 1 to {{creditTbl3Length}} of {{creditTbl3Length}} entries
								</div>
							  </div>
                               <div role="tabpanel" class="tab-pane fade" id="tab_content_sub3" aria-labelledby="home_tab_sub3">
								 <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                                 <div  class="x_title" style="display:flex;">
                   <h4 class="">Sector Buckets</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>		
                              
								
								<table id="datatable1s1d" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr>
                                            <th>Bucket Number</th>
											  <th>Credit Quality</th>
											  <th>Sector</th>
 											</tr>
										</thead>
										<!-- <tbody>
 											<tr>
											 <td>1</td>
											  <td>Investment Grade (IG)</td>
                                               <td>RMBS/CMBS</td>
  											</tr>
                                            <tr>
											 <td>2</td>
											  <td>High	Yield(HY) and Not Rated(NR)</td>
                                               <td>RMBS/CMBS</td>
  											</tr>
                                            <tr>
											 <td>Residual</td>
											  <td></td>
                                               <td></td>
  											</tr>
 										</tbody>  -->
                                    <tbody>
                                        <tr ng-repeat = "nonCreditTbl in nonCreditTbl1">
                                            <td>{{nonCreditTbl.bktNo}}</td>
                                            <td>{{nonCreditTbl.creditQlt}}</td>
                                            <td>{{nonCreditTbl.sector}}</td>
                                        </tr>
                                    </tbody>
									</table>
                                       Showing 1 to {{nonCreditTbl1Length}} of {{nonCreditTbl1Length}} entries <br/>
								<label>VEGA Risk Weight for CREDIT</label>
                                <input type="text" value=".35">
                       <input type="submit" name=""  value="Edit" class="btn"/>
                   		
								</div>
          							<div class="col-md-6 col-sm-6 col-xs-12">
                                    
									<h4 class="x_title">Correlation Parameters for same Bucket</h4>
								
									<table id="id2forbtnn" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr >
                                            <th></th>
                                              <th>Bucket#</th>
                                            <th>Risk Weight</th>
											</tr>
										</thead>
										
                                        <tbody>
                                            <tr ng-repeat = "nonCreditTbl in nonCreditTbl2">
                                                <td>{{nonCreditTbl.data}}</td>
                                                 <td>{{nonCreditTbl.bucket}}</td>
                                                 <td>{{nonCreditTbl.riskWeight}}</td>
                                            </tr>
                                        </tbody>
									</table>
                                         Showing 1 to {{nonCreditTbl2Length}} of {{nonCreditTbl2Length}} entries 
								</div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
								<h4 class="x_title">Bucket Risk Weights</h4>							
									<table id="idforbtn1" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											<tr>
											 <th>Bucket #</th>
                                                <th>Risk Weight</th>
											</tr>
										</thead>
										 <!-- <tbody>
											<tr>
                                            <td>1</td>
                                            <td> 169</td>
                                            </tr>
                                            <tr>
                                            <td>2</td>
                                            <td> 1646</td>
                                            </tr>
                                             <tr>
                                            <td>Residual</td>
                                            <td> 1646</td>
                                            </tr>
										</tbody> -->
                                        <tbody>
                                            <tr ng-repeat = "nonCreditTbl in nonCreditTbl3">
                                                <td>{{nonCreditTbl.bucket}}</td>
                                                <td>{{nonCreditTbl.riskWeight}}</td>                                                
                                            </tr>
                                        </tbody>
										</table>
                                    Showing 1 to {{nonCreditTbl3Length}} of {{nonCreditTbl3Length}} entries 
 								</div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                     <label>Non-residual bucket to Non residual bucket correlation</label>
                                <input type="text" value="5%">
                                     </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                                <div  class="x_title" style="display:flex;">
                   <h4 class="">Credit Spread Concentrations</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>		
                                
								<table id="idd1" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr>
											  <th>Credit Risk Type</th>
											  <th> Concentration Threshold(USD/bp)</th>
 											</tr>
										</thead>
										
                                        <tbody>
                                            <tr ng-repeat = "nonCreditTbl in nonCreditTbl4">
                                                <td>{{nonCreditTbl.crRisk}}</td>
                                                <td>{{nonCreditTbl.concentration}}</td>
                                            </tr>
                                        </tbody>
									</table>
                                     Showing 1 to {{nonCreditTbl4Length}} of {{nonCreditTbl4Length}} entries 
								</div>
							  </div>
                               <div role="tabpanel" class="tab-pane fade" id="tab_content_sub4" aria-labelledby="home_tab_sub4">
							 <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                              <div  class="x_title" style="display:flex;">
                   <h4 class="">Sector Buckets</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>		
                                
								<table id="datatable1s1e" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											<tr>
											  <th>Bucket number </th>
                                              <th>Commodity </th>
											  <th>Risk Weight</th>
                                              <th>Risk Correlations</th>
                                              <th>Concentration Threshold (USD/bp)</th>
 											</tr>
										</thead>
										
                                        <tbody>
                                            <tr ng-repeat = "commodityTbl in commodityTbl1">
                                                <td>{{commodityTbl.bktNo}}</td>
                                                 <td>{{commodityTbl.commodity}}</td>
                                                 <td>{{commodityTbl.riskWeight}}</td>
                                                 <td>{{commodityTbl.riskCorr}}</td>
                                                 <td>{{commodityTbl.concentration}}</td>
                                            </tr>
                                        </tbody>
									</table>
                                  Showing 1 to {{commodityTbl1Length}} of {{commodityTbl1Length}} entries 
								</div>
                                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                                <div  class="x_title" style="display:flex;">
                   <h4 class="">Correlation parameters across different non-residual buckets																</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>	
                             
								
								<table id="datatable1s1f" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr>
                                            <th>Bucket (b)</th>
                                            <th>c=1</th>
                                            <th>c=2</th>
                                            <th>c=3</th>
                                            <th>c=4</th>
                                            <th>c=5</th>
                                            <th>c=6</th>
                                            <th>c=7</th>
                                            <th>c=8</th>
                                            <th>c=9</th>
                                            <th>c=10</th>
                                            <th>c=11</th>
                                            <th>c=12</th>
                                            <th>c=13</th>
                                            <th>c=14</th>
                                            <th>c=15</th>
                                            <th>c=16</th> 							 
                                            </tr>
										</thead>
										
                                        <tbody>
                                            <tr ng-repeat = "commodityTbl in commodityTbl2">
                                                <td>{{commodityTbl.bucket}}</td>
                                                 <td>{{commodityTbl.c1}}</td>
                                                 <td>{{commodityTbl.c2}}</td>
                                                 <td>{{commodityTbl.c3}}</td>
                                                 <td>{{commodityTbl.c4}}</td>
                                                 <td>{{commodityTbl.c5}}</td>
                                                 <td>{{commodityTbl.c6}}</td>
                                                 <td>{{commodityTbl.c7}}</td>
                                                 <td>{{commodityTbl.c8}}</td>
                                                 <td>{{commodityTbl.c9}}</td>
                                                 <td>{{commodityTbl.c10}}</td>
                                                 <td>{{commodityTbl.c11}}</td>
                                                 <td>{{commodityTbl.c12}}</td>
                                                 <td>{{commodityTbl.c13}}</td>
                                                 <td>{{commodityTbl.c14}}</td>
                                                 <td>{{commodityTbl.c15}}</td>
                                                 <td>{{commodityTbl.c16}}</td>
                                                
                                            </tr>
                                        </tbody>
									</table>
                                     Showing 1 to {{commodityTbl2Length}} of {{commodityTbl2Length}} entries 
								</div>
							  </div>
                               <div role="tabpanel" class="tab-pane fade" id="tab_content_sub5" aria-labelledby="home_tab_sub5">
							<div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                             <div  class="x_title" style="display:flex;">
                   <h4 class="">Sector Buckets</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>	
                                
								
								<table id="datatable1s1s" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr>
											  <th>Bucket number</th>
											  <th>Size</th>
                                               <th>Region</th>
											  <th>Risk Weight</th>
                                              <th> Risk Correlations</th>
											  <th>Sector</th>
											</tr>
										</thead>
										
                                    <tbody>
                                        <tr ng-repeat = "commodityTbl in commodityTbl3">
                                            <td>{{commodityTbl.bktNo}}</td>
                                             <td>{{commodityTbl.size}}</td>
                                             <td>{{commodityTbl.region}}</td>
                                             <td>{{commodityTbl.riskWeight}}</td>
                                             <td>{{commodityTbl.riskCorre}}</td>
                                             <td>{{commodityTbl.sector}}</td>
                                        </tr>
                                    </tbody>
									</table>
                                 Showing 1 to {{commodityTbl3Length}} of {{commodityTbl3Length}} entries 
								</div>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                     <label>VEGA Risk weight for EQUITY</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" value=".21">
                                     </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                                <div  class="x_title" style="display:flex;">
                   <h4 class="">Correlation parameters across different non-residual buckets</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>	
                               
								
								<table id="datatable1s1g" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr>
										 
                                             <th>Bucket (b)</th>
                                            <th>c=1</th>
                                            <th>c=2</th>
                                            <th>c=3</th>
                                            <th>c=4</th>
                                            <th>c=5</th>
                                            <th>c=6</th>
                                            <th>c=7</th>
                                            <th>c=8</th>
                                            <th>c=9</th>
                                            <th>c=10</th>
                                            <th>c=11</th>
 											</tr>
										</thead>
										
                                    <tbody>
                                        <tr ng-repeat = "commodityTbl in commodityTbl5">
                                            <td>{{commodityTbl.bucket}}</td>
                                             <td>{{commodityTbl.c1}}</td>
                                             <td>{{commodityTbl.c2}}</td>
                                             <td>{{commodityTbl.c3}}</td>
                                             <td>{{commodityTbl.c4}}</td>
                                             <td>{{commodityTbl.c5}}</td>
                                             <td>{{commodityTbl.c6}}</td>
                                             <td>{{commodityTbl.c7}}</td>
                                             <td>{{commodityTbl.c8}}</td>
                                             <td>{{commodityTbl.c9}}</td>
                                             <td>{{commodityTbl.c10}}</td>
                                             <td>{{commodityTbl.c11}}</td>
                                                
                                        </tr>
                                    </tbody>
									</table>
                                     Showing 1 to {{commodityTbl5Length}} of {{commodityTbl5Length}} entries 
								</div>
                                 
                                 <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                                 <div  class="x_title" style="display:flex;">
                   <h4 class="">Equity Risk Concentrations</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>	
                                 
								
								<table id="datatable1s1x" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" >
										<thead>
											<tr>
                                               <th>Equity Risk Type</th>
											  <th>  Concentration Threshold(USD/bp)</th>
 											</tr>
										</thead>
										
                                    <tbody>
                                        <tr ng-repeat = "commodityTbl in commodityTbl4">
                                            <td>{{commodityTbl.equityRisk}}</td>
                                             <td>{{commodityTbl.concentration}}</td>
                                        </tr>
                                    </tbody>
									</table>
                                      Showing 1 to {{commodityTbl4Length}} of {{commodityTbl4Length}} entries 
								</div>
							  </div>
                               <div role="tabpanel" class="tab-pane fade" id="tab_content_sub6" aria-labelledby="home_tab_sub6">
								   <div class="col-md-6 col-sm-6 col-xs-12">
                                     <label>Risk weight for all sensitivities</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" value="7.9">
                                
                                       <label>VEGA Risk weight for FX Volatility</label>&nbsp;&nbsp;
                                <input type="text" value=".21">
                                       <label>Correlation for all sensitivities</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                <input type="text" value=".5">
                                 <div  class="x_title" style="display:flex;">
                   <h4 class="">FX Risk Concentrations</h4>
                      <input type="submit" name=""  value="Edit" class="btn"/>
                      </div>	
							 						
									<table id="frtid" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											<tr>
											 <th>FX Risk Type</th>
                                                <th>Concentration Threshold(USD/bp)</th>
											</tr>
										</thead>
										
                                        <tbody>
                                            <tr ng-repeat = "fx in fxs">
                                                <td>{{fx.fxRisk}}</td>
                                                <td>{{fx.concentration}}</td>
                                            </tr>
                                        </tbody>
										</table>
                                        Showing 1 to {{fxsLength}} of {{fxsLength}} entries 
 								</div>
                                     </div>
							  </div>
                  </div>
                  </div>
                </div>
							  </div>
								</div>
									 
								 
							  </div>
							  </div>
							</div>
                            
						  </div>

						</div>
					  </div>
					</div>
                  </div>
                </div>
              </div>
              
             

            </div>

<script>
     $(function () {
                $('#datetimepicker1').datetimepicker();
            });
     $(document).ready(function () {                
                // create jqxcalendar.
                $("#calender").jqxCalendar({width: 250, height: 220});
				
             });
</script>