<div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h4> {{title}}</h4>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
				<b>Mode : </b>
							<input type = "text"  value = "{{mode}}">
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
					 Show <select
                        	 ng-init = "select = entries[0]"
                             ng-model="select" 
                             ng-options="entry.number for entry in entries">
                        </select> entries
						<input type = "button" class = "btn btn-default pull-right" value="eCSV">
						<br /><br />
                      <div class="table-responsive">
						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr ng-repeat = "riskHead in riskHeaders">
                              
							
                                <th>{{riskHead.counter}}</th>
                                <th>{{riskHead.risk}}</th>
                                <th>{{riskHead.cur}}</th>
                                <th>{{riskHead.delta}}</th>
                                <th>{{riskHead.Vega}}</th>
                                <th>{{riskHead.curvarture}}</th>
                                <th>{{riskHead.total}}</th>
							  
                            </tr>
                          </thead>
						
                        <tbody>
                            <tr ng-repeat = "riskCat in riskCategories">
                                <td>{{riskCat.CounterParty}}</td>
                                <td>{{riskCat.RiskCategory}}</td>
                                <td>{{riskCat.Currency}}</td>
                                <td>{{riskCat.DeltaMargin}}</td>
                                <td>{{riskCat.VegaMargin}}</td>
                                <td>{{riskCat.CurvatureMargin}}</td>
                                <td>{{riskCat.Total}}</td>
                            </tr>
                        </tbody>
                        </table>
                           Showing 1 to {{arrLength - 1}} of {{arrLength - 1}} entries 
						</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            

            </div>