
 <div class="right_col" role="main" >
        <div class="">
          <div class="page-title ">
            <div class="title_left">
              <h4> {{title}} </h4>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
				<b>Mode : </b>
							<input type="text" id="mode1" ng-model="txtField" />  
							  
           
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                    
					 
                      <div class="x_content">
						 <div class="col-md-12 col-sm-12 col-xs-12">
						  <div class="" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="index.html#/simmulation/#tab_content1_1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Manage Simulations</a>
							  </li>
							  <li role="presentation"><a href="index.html#/simmulation/#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="false">Customize Inputs - Trade Portfolios</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/simmulation/#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Customize Inputs - Market Data</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/simmulation/#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">SIMMulate</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/simmulation/#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Simmulation Results</a>
							  </li>
							</ul>
							<div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1_1" aria-labelledby="home-tab">
								 <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
                      <h4 class="x_title">Manage Simulations</h4>
                       <div class="table-responsive">
						<table id="datatable-responsive1" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                               <th>Simulation Date	</th>
                                <th>Simulation ID</th>
                                <th>Simulation Description</th>
                                <th>Select [A|N|D]</th>
                            </tr>
                          </thead>
                       
                             <tbody>
                          	<tr ng-repeat = "simm in simms" ng-init = "index = $index">
                            	<td>{{simm.SimulationDate}}</td>
                                <td>{{simm.SimulationID}}</td>
                                <td>{{simm.SimulationDescription}}</td>                              
                                
                                <td ><input type="radio" class = "simmRadio" id ="r{{index+1}}" name ="rate"  value="{{simm.SimulationID}}" ng-model = "radioCheck" ng-click = "fun(radioCheck)" ></td>
                              
                            </tr>
                          </tbody>
                        </table>
                           Showing 1 to {{prodLength}} of {{prodLength}} entries
						</div>
                      </div>
                    </div>
                  </div>
                </div>
							  </div>
							  <div role="tabpanel" class="tab-pane fade" id="tab_content1" aria-labelledby="home-tab">
								<div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
                      <h4 class="x_title">Customize Trade Portfolios</h4>
                     <div  >
					   <input type="submit" value="Load Portfolio" class="btn"/>
                    
                         
                         <select
                         ng-init = "lord = lordPortfolios[0]" 
                         ng-model="lord"
                         ng-options = "lordPortfolio.lordP for lordPortfolio in lordPortfolios">
                         </select>
                         
                          
					   <input type="submit" value="Load Counter Party" class="btn"/>
                     
                         
                         <select
                          ng-init = "lordC = lordCountries[0]"
                          ng-model = "lordC"    
                          ng-options = "lordCountrie.lordC for lordCountrie in lordCountries">
                         </select>
                         </div> <br/>
                         <div>
                         
                        <input type="submit" value="Save Portfolio" class="btn"/>
                        <input type="text" value="Custom BofA Portfolio 1"/>
                        
                        <input type="submit" value="Add Trade" class="btn"/>
                        <input type="submit" value="Duplicate Trade" class="btn"/>
                       
                          </div>
                      <div class="table-responsive">
						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr ng-repeat = "tradeHeader in tradeHeaders">
                             
                                <th>{{tradeHeader.counter}}</th>
                                <th>Trade</th>
                                <th>{{tradeHeader.risk}}</th>
                                <th>{{tradeHeader.cur}}</th>
                                <th>{{tradeHeader.delta}}</th>
                                <th>{{tradeHeader.Vega}}</th>
                                <th>{{tradeHeader.curvarture}}</th>
                                <th>{{tradeHeader.total}}</th>
                            </tr>
                          </thead>
                        
                            <tbody>
                                <tr ng-repeat = "tradeContent in tradeContents">
                                    <td>{{tradeContent.counterParty}}</td>
                                     <td>{{tradeContent.trade}}</td>
                                     <td>{{tradeContent.riskCategory}}</td>
                                     <td>{{tradeContent.currency}}</td>
                                     <td>{{tradeContent.deltaMargin}}</td>
                                     <td>{{tradeContent.vegaMargin}}</td>
                                     <td>{{tradeContent.curvatureMargin}}</td>
                                     <td>{{tradeContent.Total}}</td>
                                </tr>
                            </tbody>
                        </table>
						</div>
                      </div>
                    </div>
                  </div>
                </div>
								
							  </div>
							  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
								
							  </div>
							  <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
								 <form action="" enctype="multipart/form-data">
									<input type="file" name="file" value="Upload Market Data" class="pull-right btn btn-success" />
								  </form>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                      <h4 class="x_title">Scenarios Specification</h4>
                     <div style="border:1px solid #000;padding:15px; ">
                  
                         
                         <div class = "col-md-12">
                             <div class = "col-md-4">
                                 <label>Shock FX</label>
                             </div>
                             <div class = "col-md-8">
                                  <select style="width:55%;">
                                      <option value="EUR/USD - 1%" >EUR/USD - 1%</option>
                                   </select>
                             </div>
                         </div>
                                    
                                    <div class = "col-md-12">
                                        <div class = "col-md-4">
                                            <label>Shock Yield Curve</label>
                                        </div>
                                         <div class = "col-md-6">
                                              <select style="width:76%;">
                                              <option value="1bp" >1bp</option>
                                              </select>
                                        </div>
                                    </div>
  									
                                    <div class = "col-md-12">
                                        <div class = "col-md-4">
                                            <label>Shock Commodity</label>
                                        </div>
                                        <div class ="col-md-8">
                                             <select style="width:55%;">
                                                  <option value="WTI Crude  -5%" >WTI Crude  -5%</option>
                                            </select>
                                        </div>
                                    </div>
                                
                                    <div>
                                   <label>Shock Credit Spreads</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;                                
                                    <select style="width:30%;">
                                      <option value="GREEK SOV + 10%" >GREEK SOV + 10%</option>
                                      </select>
                                    </div>
                         
                                    
                                    </div>
 
                     </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                       <h4 class="x_title">SIMMulation Parameters</h4>
                     <div style="border:1px solid #000;padding:15px; ">
                     <div>
                                   <label>Simulation ID</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
                                    <input type="text" value="1234xyz">
                                    </div>
                                    <div>
                                    <label>Market Data I/P - Curves</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;                                   
                                    <input type="text" value="1234xyz">
                                    </div>
  									<div>
                                   <label>Market Data I/P - Prices</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;                               
                                    <input type="text" value="1234xyz">
  									</div>
                                    <div>
                                   <label>Output File Name(s)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;                               
                                    <input type="text" value="1234xyz">
                                    </div>
                                    </div>
                      				</div>
 									</div>
							  <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
								<div class="row">
                   <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
					  <h4>Simulation Results and Status Summary</h4>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                     <div style="border:1px solid #000;padding:15px; ">
                     <div>
                                   <label>Overall Status</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                    <input type="text" value=" ">
                                    </div>
                                    <div>
                                    <label>Validation Errors</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;                                 
                                    <input type="text" value=" ">
                                    </div>
  									<div>
                                   <label>CRIF Generated?</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;                               
                                    <input type="text" value="1234xyz">
  									</div>
                                    <div>
                                   <label>Output File Name(s)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;                                
                                    <input type="text" value="1234xyz">
                                    </div>
                                    </div>
 
                     </div>
                      
                      </div>
                    </div>
                  </div>
                </div>
							  </div>
							</div>
						  </div>

						</div>
					  </div>
					</div>
                  </div>
                </div>
              </div>
              
            

</div>
          
      