<div class="right_col" role="main">
        <div class="">
          <div class="page-title ">
            <div class="title_left">
              <h4>{{title}}</h4>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
				<b>Mode : </b>
							<input type = "text"  value = "{{mode}}">
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                    
					 
                      <div class="x_content">
						 <div class="col-md-12 col-sm-12 col-xs-12">
						  <div class="" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
							  <li role="presentation" class="active"><a href="index.html#/SIMM_Reports/#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Attribution</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/SIMM_Reports/#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">SIMM CSA</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/SIMM_Reports/#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Report 3</a>
							  </li>
							  
							</ul>
							<div id="myTabContent" class="tab-content">
							  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                              <div class="row">
                              <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
							  <h5 class="x_title">Filter By : </h5>
                                <div class="table-responsive">
						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr ng-repeat = "simmAttrHeader in simmAttrHeaders">
                          
                                <th>{{simmAttrHeader.cptyGrp}}</th> 
                                <th>{{simmAttrHeader.cSAID}}</th>
                                 <th>{{simmAttrHeader.riskCat}}</th>
                                 <th>{{simmAttrHeader.tradingDesk}}</th>
                                 <th>{{simmAttrHeader.portfolio}}</th>
                                 <th>{{simmAttrHeader.tradeID}}</th>
                                 <th>{{simmAttrHeader.new}}</th>
                                 <th>{{simmAttrHeader.marketOperations}}</th>
                                 <th>{{simmAttrHeader.mrktDelta}}</th>
                                 <th>{{simmAttrHeader.total}}</th>
                                 
                                
                            </tr>
                          </thead>
						  
                        
                            <tbody>
                                <tr ng-repeat = "simmAttrContent in simmAttrContents">
                                <td>{{simmAttrContent.cptyGrp}}</td> 
                                <td>{{simmAttrContent.cSAID}}</td>
                                 <td>{{simmAttrContent.riskCat}}</td>
                                 <td>{{simmAttrContent.tradingDesk}}</td>
                                 <td>{{simmAttrContent.portfolio}}</td>
                                 <td>{{simmAttrContent.tradeID}}</td>
                                 <td>{{simmAttrContent.new}}</td>
                                 <td>{{simmAttrContent.marketOperations}}</td>
                                 <td>{{simmAttrContent.mrktDelta}}</td>
                                 <td>{{simmAttrContent.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                                     Showing 1 to {{arrLength}} of {{arrLength}} entries
						</div>
                                        </div>
                                        </div>
                                        </div>
								
							  </div>
							  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
								<div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
				 		 
                       
									<table id="datatable-responsive7" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											<tr ng-repeat = "simmCSAHeader in simmCSAHeaders">
                                           
                                                
                                                <th colspan="4">&nbsp;</th>
                                               
											  <th colspan="3"><center>{{simmCSAHeader.delta}}</center></th>
											  <th colspan="3"><center>{{simmCSAHeader.vega}}</center></th>
											  <th colspan="3"><center>{{simmCSAHeader.curvature}}</center></th>
											  <th>{{simmCSAHeader.total}}</th> 
                                             
											  
											</tr>
										</thead>
										 <tbody>
											<tr>
											      <th>Counterparty Grp</th>
                                                  <th>CSA ID</th>
												 <th>RiskFactorType</th>
												  <th>Risk Bucket</th>
												  <th><b>Conc.risk factor(CR<sub>b</sub>)</b></th>
												  <th><b>Aggregated Sensitive(K<sub>b</sub>)</b></th>
												  <th><b>S<sub>b</sub></b></th>
												  <th><b>Conc.risk factor(CR<sub>b</sub>)</b></th>
												  <th><b>Aggregated Sensitive(K<sub>b</sub>)</b></th>
												  <th><b>S<sub>b</sub></b></th>
												  <th><b>Conc.risk factor(CR<sub>b</sub>)</b></th>
												  <th><b>Aggregated Sensitive(K<sub>b</sub>)</b></th>
												  <th><b>S<sub>b</sub></b></th>
												  <th><b>(CR<sub>b</sub> + K<sub>b</sub> + S<sub>b</sub>)</th>
												 
											</tr>
											
                                             <tr ng-repeat = "simmCSAContent in simmCSAContents">
                                                 <td>{{simmCSAContent.counterParty}}</td>
                                                 <td>{{simmCSAContent.csaId}}</td>
                                                 <td>{{simmCSAContent.riskFactor}}</td>
                                                 <td>{{simmCSAContent.riskBkt}}</td>
                                                 <td>{{simmCSAContent.concRisk}}</td>
                                                 <td>{{simmCSAContent.aggSen}}</td>
                                                 <td>{{simmCSAContent.sb}}</td>
                                                 <td>{{simmCSAContent.rb}}</td>
                                                 <td>{{simmCSAContent.kb}}</td>
                                                 <td>{{simmCSAContent.sb1}}</td>
                                                 <td>{{simmCSAContent.crb}}</td>
                                                 <td>{{simmCSAContent.kb}}</td>
                                                 <td>{{simmCSAContent.sb2}}</td>
                                                 <td>{{simmCSAContent.crbKB}}</td>
                                             </tr>
										</tbody>
									</table>
							 
                  
                  
                      </div>
                    </div>
                  </div>
                   
                </div>
							  </div>
							 <!-- <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
								 <form action="" enctype="multipart/form-data">
									<input type="file" name="file" value="Upload Market Data" class="pull-right btn btn-success" />
								  </form>
							  </div>
							  <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
								
							  </div>-->
							</div>
						  </div>

						</div>
					  </div>
					</div>
                  </div>
                </div>
              </div>
              
              

            </div>