<div class="right_col" role="main">
        <div class="">
          <div class="page-title ">
            <div class="title_left">
              <h4>{{title}}</h4>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
				<b>Mode : </b>
							<input type = "text"  value = "{{mode}}">
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                     
					 
                      <div class="x_content">
                          
						 <div class="col-md-12 col-sm-12 col-xs-12">
						  <div class="" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
							  <li role="presentation" class="active"><a href="index.html#/SIMM_Actions/#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">CRIF</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/SIMM_Actions/#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Blazer</a>
							  </li>
							
							</ul>
							<div id="myTabContent" class="tab-content">
							  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
								<div class="row">
                                    

                  <div class="col-md-12 col-sm-12 col-xs-12">
                  <input type="submit" name="" style="margin-top: 24px;" value="Cancel/Discard Changes" class="btn" onClick="window.alert('out of scope - for prototype')"/>
                  <input type="submit" name="" style="margin-top: 24px;" value="Load CRIF Output" class="btn" onClick="window.alert('out of scope - for prototype')"/>
                  <input type="submit" name="" style="margin-top: 24px;" value="Generate CRIF Output" class="btn" onClick="window.alert('out of scope - for prototype')"/>
                  <input type="submit" name="" style="margin-top: 24px;" value="Save CRIF Output" class="btn" onClick="window.alert('out of scope - for prototype')"/>
                    <div class="x_panel">
                       
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
				 	  
                       
                      <div class="table-responsive">
						<table id="tableidforbtn" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr ng-repeat = "simmHeader in simmHeaders">
                          
                                <th>{{simmHeader.risk}}</th>
                                <th>{{simmHeader.qualifier}}</th>
                                <th>{{simmHeader.bucket}}</th>
                                <th>{{simmHeader.label1}}</th>
                                <th>{{simmHeader.label2}}</th>
                                <th>{{simmHeader.amount}}</th>
                                <th>{{simmHeader.amountCurrency}}</th>
                                <th>{{simmHeader.amountUSD}}</th>
                                <th>{{simmHeader.tradelD}}</th>
                                <th>{{simmHeader.portfolioID}}</th>
                            </tr>
                          </thead>
                         
                            <tbody>
                                <tr ng-repeat = "simmContent in simmContents">
                                    <td>{{simmContent.riskType}}</td>
                                    <td>{{simmContent.qualifier}}</td>
                                    <td>{{simmContent.bucket}}</td>
                                    <td>{{simmContent.label1}}</td>
                                    <td>{{simmContent.label2}}</td>
                                    <td>{{simmContent.amount}}</td>
                                    <td>{{simmContent.amountCurrency}}</td>
                                    <td>{{simmContent.amountUSD}}</td>
                                    <td>{{simmContent.tradelD}}</td>
                                    <td>{{simmContent.portfolioID}}</td>
                                </tr>
                            </tbody>
                            
                        </table>
                          Showing 1 to {{arrLength}} of {{arrLength}} entries 
						</div>
                      </div>
                    </div>
                  </div>
                </div>
								
							  </div>
							  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
								<div class="row">

                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
					  <div style="margin-top:15px"></div>
                      <div class="x_content">
				 		<h4 class="x_title">{{blazerTitle}}</h4>
                       
                      <div class="table-responsive">
						<table id="tableidforbtn1" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr ng-repeat = "blazerHeader in blazerHeaders">
                            <!--<th>CounterParty</th>
                            <th>Portfolio</th>
                            <th>Breach</th> -->
                                <th>{{blazerHeader.counterParty}}</th>
                                <th>{{blazerHeader.portfolio}}</th>
                                <th>{{blazerHeader.breach}}</th>
                             </tr>
                          </thead>
                          
                            <tbody>
                                <tr ng-repeat = "blazerContent in blazerContents">
                                    <td>{{blazerContent.counterParty}}</td>
                                    <td>{{blazerContent.portfolio}}</td>
                                    <td>{{blazerContent.breach}}</td>
                                </tr>
                            </tbody>
                        </table>
                           Showing 1 to {{blazeerLength}} of {{blazeerLength}} entries 
						</div>
                      </div>
                    </div>
                  </div>
                </div>
							  </div>
							
							</div>
						  </div>

						</div>
					  </div>
					</div>
                  </div>
                </div>
              </div>
              
              

            </div>