<div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h4>{{ title}}</h4>
            </div>
			
            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
				<b>Mode : </b>
							<input type = "text"  value = "{{mode}}">
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_content">
						 <div class="col-md-12 col-sm-12 col-xs-12">
						  <div class="" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
							  <li role="presentation" class="active"><a href="index.html#/SIMM_Admin/#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Entitlements</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/SIMM_Admin/#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Config</a>
							  </li>
						 
                              <li role="presentation" class=""><a href="index.html#/SIMM_Admin/#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Status</a>
							  </li>
							</ul>
							<div id="myTabContent" class="tab-content">
                            
							  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                              
                              <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_content">
						 <div class="col-md-12 col-sm-12 col-xs-12">
						  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab1" class="nav nav-tabs bar_tabs" role="tablist">
							  <li role="presentation" class="active"><a href="index.html#/SIMM_Admin/#tab_content_sub" id="home_tab_sub" role="tab" data-toggle="tab" aria-expanded="true">User Management</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/SIMM_Admin/#tab_content_sub1" role="tab" id="home_tab_sub1" data-toggle="tab" aria-expanded="false">Role Management</a>
							  </li>
 							</ul>
                            <div id="myTabContent1" class="tab-content">
						<div role="tabpanel" class="tab-pane fade active in" id="tab_content_sub" aria-labelledby="home_tab_sub">
				                
                                </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content_sub1" aria-labelledby="home_tab_sub1">
                                
 							  </div>
 							  </div>
                              </div>
                              </div>
                              </div>
							  </div>
								</div>
									 
								 
							  </div>
				                
							  </div>
							  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                              <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_content">
						 <div class="col-md-12 col-sm-12 col-xs-12">
						  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab1" class="nav nav-tabs bar_tabs" role="tablist">
							  <li role="presentation" class="active"><a href="index.html#/SIMM_Admin/#tab_content_sub_1" id="home_tab_sub" role="tab" data-toggle="tab" aria-expanded="true">Interface Config</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/SIMM_Admin/#tab_content_sub1_1" role="tab" id="home_tab_sub1" data-toggle="tab" aria-expanded="false">SIMM Calculation Config</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/SIMM_Admin/#tab_content_sub2_1" role="tab" id="home_tab_sub2" data-toggle="tab" aria-expanded="false">Pricing Config</a>
							  </li>
                              <li role="presentation" class=""><a href="index.html#/SIMM_Admin/#tab_content_sub3_1" role="tab" id="home_tab_sub3" data-toggle="tab" aria-expanded="false">Simulation Config</a>
							  </li>
                              
							</ul>
                            <div id="myTabContent1" class="tab-content">
								   <div role="tabpanel" class="tab-pane fade active in" id="tab_content_sub_1" aria-labelledby="home_tab_sub">
				               <div class="row">

                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                       <div class="x_content">
                      <div class="table-responsive">
                      <h4 class="x_title">{{configInterface1}}</h4>
                      <table  id="datatable2a" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
						<tr ng-repeat = "tblHeading in tblHeadings">                    
                            <th>{{tblHeading.config}}</th>
                            <th>{{tblHeading.setting}}</th>
                        </tr>
                        </thead>
                    
                          <tr ng-repeat = "configTblData in configTblData1">
                              <td>{{configTblData.config}}</td>
                               <td>{{configTblData.setting}}</td>
                          </tr>
                       
                        </table>
                           Showing 1 to {{tb1Length}} of {{tb1Length}} entries
                         </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                       <div class="x_content">
                      <div class="table-responsive">
                      <h4 class="x_title">{{configInterface2}}</h4>
                      <table  id="datatable2b" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
						<tr ng-repeat = "tblHeading in tblHeadings">                    
                            <td>{{tblHeading.config}}</th>
                            <th>{{tblHeading.setting}}</th>
                        </tr>
                        </thead>
                         <tr ng-repeat = "configTblData1 in configTblData2">
                               <td>{{configTblData1.config}}</td>
                               <td>{{configTblData1.setting}}</td>
                          </tr>   
                        </table>
                           Showing 1 to {{tb2Length}} of {{tb2Length}} entries
                         </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                       <div class="x_content">
                      <div class="table-responsive">
                      <h4 class="x_title">{{configInterface3}}</h4>
                      <table  id="datatable2c" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
						<tr ng-repeat = "tblHeading in tblHeadings">                    
                            <th>{{tblHeading.config}}</th>
                            <th>{{tblHeading.setting}}</th>
                        </tr>
                        </thead>
                      
                          <tr ng-repeat = "configTblData2 in configTblData3">
                              <td>{{configTblData2.config}}</td>
                               <td>{{configTblData2.setting}}</td>
                          </tr>
                       
                        </table>
                          Showing 1 to {{tb3Length}} of {{tb3Length}} entries
                         </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                       <div class="x_content">
                      <div class="table-responsive">
                      <h4 class="x_title">{{configInterface4}}</h4>
                      <table  id="datatable2d" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
						<tr ng-repeat = "tblHeading in tblHeadings">                    
                            <th>{{tblHeading.config}}</th>
                            <th>{{tblHeading.setting}}</th>
                        </tr>
                        </thead>
                        <tr ng-repeat = "configTblData3 in configTblData4">
                              <td>{{configTblData3.config}}</td>
                               <td>{{configTblData3.setting}}</td>
                          </tr>
                       
                        </table>
                          Showing 1 to {{tb4Length}} of {{tb4Length}} entries
                         </div>
                        
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>
                                  <div role="tabpanel" class="tab-pane fade" id="tab_content_sub1_1" aria-labelledby="home_tab_sub1">
                                                      
                                    </div>
                               <div role="tabpanel" class="tab-pane fade" id="tab_content_sub2_1" aria-labelledby="home_tab_sub2">
								 
                                         
							  </div>
                               <div role="tabpanel" class="tab-pane fade" id="tab_content_sub3_1" aria-labelledby="home_tab_sub3">
                                  
							  </div>
                               
							  </div>
                              </div>
                              </div>
                            </div>
							 </div>
							</div>
						  </div>
							  </div>
							   
								<div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
								<div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_content">
						 <div class="col-md-12 col-sm-12 col-xs-12">
						  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab1" class="nav nav-tabs bar_tabs" role="tablist">
							  <li role="presentation" class="active"><a href="index.html#/SIMM_Admin/#tab_content_sub_2" id="home_tab_sub" role="tab" data-toggle="tab" aria-expanded="true">Input Interface Status</a>
							  </li>
							  <li role="presentation" class=""><a href="index.html#/SIMM_Admin/#tab_content_sub1_2" role="tab" id="home_tab_sub1" data-toggle="tab" aria-expanded="false">Output Interface Status</a>
							  </li>
							   
							</ul>
                            <div id="myTabContent2" class="tab-content">
								   <div role="tabpanel" class="tab-pane fade active in" id="tab_content_sub_2" aria-labelledby="home_tab_sub">
				               <div class="row">

                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                       <div class="x_content">
                      <div class="table-responsive">
                      <h4 class="x_title">{{statusInterfaceTitle}}</h4>
                      <table  id="datatable2e" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
						<tr ng-repeat = "statusTblHeading in statusTblHeadings">
                        <!-- <th>Data Item</th>
						<th>Status</th> -->
                            <th>{{statusTblHeading.dataItem}}</th>
                            <th>{{statusTblHeading.status}}</th>
                        </tr>
                        </thead>
                    
                          <tr ng-repeat = "statusTblContent in statusTblContents">
                              <td>{{statusTblContent.dataItem}}</td>
                              <td>{{statusTblContent.status}}</td>
                          </tr>
                       
                        </table>
                          Showing 1 to {{statusLength}} of {{statusLength}} entries
                         </div>
                       
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content_sub1_2" aria-labelledby="home_tab_sub1">
                                                          
                                      
                   </div>
                                
					 </div>
                     </div>
                    </div>
                      </div>
				  </div>
				 </div>
 					  </div>
					  </div>
					 </div>
 						 </div>

						</div>
					  </div>
					</div>
                  </div>
                </div>
              </div>
              
             

            </div>